.inside {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-inline: 1.5rem;
}

.bg-primary {
    background-color: var(--primary);
}

.pages > div > *:first-child {
    margin-block-start: var(--header-height);
}
