.inside {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-inline: 1.5rem;
}

.bg-primary {
    background-color: var(--primary);
}

.separator {
    height: 1px;
    background: linear-gradient(to right,
    transparent 0%, #5d3663 50%, transparent 100%
    );
}

.dash-container {
    font-size: .5rem;
    color: var(--color-surface-600);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .dash {
        border-radius: var(--border-radius);
        width: 10rem;
        height: .25rem;
        background: linear-gradient(90deg, var(--primary), transparent);
        margin-bottom: .5rem;
    }
    p {
        margin-bottom: .5rem;
    }
}