header {
    transition-property: height, box-shadow, background-color;
    background-color: transparent;
    transition: 0.5s ease;
    font-size: .75rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    border-radius: 0 0 8px 8px;

    padding-block: .75rem;
    &.scrolled {
        box-shadow: var(--shadow-sm);
        padding-block: 0;
        background-color: color-mix(in srgb, var(--color-surface-200) 95%, transparent);
        backdrop-filter: blur(10px);
    }

    .logo {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    nav {
        max-width: var(--max-width);
        margin: auto;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        padding: 0;
    }
    nav ul li {
        display: inline-block;
        margin: 0 10px;
    }
}