.placeholder-wrapper {
    display: grid;
    grid-template-areas: "stack";
    .placeholder, .placeholder-target {
        grid-area: stack;
    }
    .placeholder-target.is-loading {
        opacity: 0;
        height: 0;
        pointer-events: none;
        z-index: -1;
    }
    .placeholder {
        --border-width: 0;
        --background-color: var(--color-surface-200);
        --shimmer-dark: var(--color-surface-400);
        --shimmer-light: var(--color-surface-700);
        position: relative;
        transition-property: opacity, visibility;
        transition-duration: 1s;
        transition-timing-function: ease;
        &:not(.is-loading) {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
        &.is-loading {
            animation: search-placeholder-pulse 4s ease-in-out infinite;
        }
        background: radial-gradient(circle, var(--color-surface-300) 30%, var(--color-surface-500));
        background-repeat: repeat;
        background-size: 400%;

        .placeholder-block {
            position: absolute;
            background-color: var(--background-color);
            &.placeholder-block-left,&.placeholder-block-right {top: 0; bottom: 0;}
            &.placeholder-block-left { left: 0;}
            &.placeholder-block-right { right: 0;}
            &.placeholder-block-top,&.placeholder-block-bottom { left: 0; right: 0;}
            &.placeholder-block-top { top: 0;}
            &.placeholder-block-bottom { bottom: 0;}
            &.with-border,
            &.with-border-block {
                &.placeholder-block-left,&.placeholder-block-right {top: var(--border-width); bottom: var(--border-width);}
                &.placeholder-block-top { top: var(--border-width);}
                &.placeholder-block-bottom { bottom: var(--border-width);}
            }
            &.with-border,
            &.with-border-inline {
                &.placeholder-block-left { left: var(--border-width);}
                &.placeholder-block-right { right: var(--border-width);}
                &.placeholder-block-top,&.placeholder-block-bottom { left: var(--border-width); right: var(--border-width);}
            }
        }
    }
}

@keyframes search-placeholder-pulse {
    from {
        background-position: 200% 0;

    }
    to {
        background-position: -200% 0;
    }
}