html {
    --min-font-size: 16px;
    --max-font-size: 24px;

    font-size: clamp(
            var(--min-font-size),
            calc(1rem + 0.8vw),
            var(--max-font-size)
    );
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

.text-gradient {
    background: linear-gradient(70deg, var(--color-primary-100), var(--color-primary-600), var(--color-primary-300));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-muted {
    color: var(--color-surface-600);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}