.points-leaderboard {
    background: var(--color-surface-100) radial-gradient(circle at center top, rgba(255, 255, 255, 8%), transparent 50%) top center;
    .leaderboard {
        .inside {
            max-width: 800px;
        }
        .leaderboard-entry {
            display: grid;
            grid-template-columns: 3ch 1fr auto;
            text-wrap: nowrap;
            padding: .5rem 1rem;
            position: relative;
            &:first-child {
                margin-block-start: .25rem;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px;
                left: 0;
                right: 0;
                transition-property: background-position;
                background: linear-gradient(to right,
                    transparent 0%,   var(--primary) 25%, transparent 50%,
                    transparent 50%,  var(--primary) 75%, transparent 100%
                );;
                background-size: 200% 1px;
                background-repeat: no-repeat;
                background-position: right;
                transition: background-position .75s ease;
            }
            &:hover, &:focus {
                &::before {
                    background-position: left;
                }
            }
            .name, .points {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}