.map-details {
    .inside {
        display: grid;
        justify-items: center;
        gap: 2rem;
        & > * > * {
            margin-bottom: 1rem;
        }

        .col-left {
            justify-self: stretch;
            .map-hero {
                position: relative;
                box-shadow: var(--shadow-lg);

                .map-image {
                    aspect-ratio: 16/9;
                    height: 100%;
                    img {
                        object-fit: contain;
                        height: 100%;
                    }
                }
                .bg-blurred-img {
                    position: absolute;
                    inset: 0;
                    height: 100%;
                    object-fit: cover;
                    filter: brightness(.5) blur(20px);
                    z-index: -1;
                }

                .map-info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding-inline-start: .5rem;

                    .details-map-name {
                        font-size: 1.5rem;
                        line-height: .8;
                        text-shadow: 0 0px 20px rgba(0, 0, 0, 1);
                    }
                    .details{
                        width: calc(100% - .75rem);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: end;
                        text-shadow: 0 0px 20px rgba(0, 0, 0, 1);
                        .map-creator {
                            color: var(--color-surface-700);
                            font-size: .8rem;
                            text-wrap: nowrap;
                            max-width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .difficulty-bonus-cnt {
                            flex: 1;
                            display: flex;
                            justify-content: end;
                            filter: drop-shadow(#ff7f00 0px 0px 3px);
                            .hot_pepper.media-container {
                                max-height: 1.25rem;
                                aspect-ratio: 1;
                            }
                            .bonus {
                                font-weight: 500;
                                font-style: italic;
                                text-align: end;
                                /* gradient "flame" so red orange yellow*/
                                background: linear-gradient(200deg,
                                        #ffff00 40%,
                                        #ff7f00 60%,
                                        #ff0000 100%
                                );
                                background-clip: text;
                                -webkit-background-clip: text;
                                color: transparent;
                            }
                        }

                    }


                    z-index: 2;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        background: linear-gradient(to bottom, transparent 50%, var(--color-surface-100));
                    }
                }
                .steam-btn {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    background: linear-gradient(
                            to bottom,
                            #111d2e 0%,
                            #051839 21.2%,
                            #0a1b48 40.7%,
                            #132e62 58.1%,
                            #144b7e 73.8%,
                            #136497 87.3%,
                            #1387b8 100%
                    );
                    border: none;
                    padding: 0 .1rem 0 0;
                    border-radius: 100%;
                    .media-container {
                        max-height: 1.5rem;
                        max-width: 1.5rem;
                        width: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    transition-property: transform, box-shadow;
                    transition-duration: 0.15s;
                    transition-timing-function: ease;
                    box-shadow: var(--shadow-sm);
                    &:hover {
                        transform: scale(1.015) translateY(-1px);
                        box-shadow: var(--shadow-lg);
                    }
                }
            }
        }

        .col-right {
            width: 100%;
            .map-details {
                .description {
                    font-size: .75rem;
                }
            }
            .admin-panel {
                h3 {
                    margin-block: .5rem .25rem;
                }
                .admin-card-cnt {
                    display: flex;
                    flex-direction: column;
                    .buttons {
                        display: flex;
                        gap: 1rem;
                    }
                }
            }
        }
        .card {
            padding: .75rem .5rem;
            h2:last-child {
                margin:0;
            }
        }
        p {
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
}

@media (min-width: 768px) {
    .map-details > .inside {
        grid-template-columns: 2fr 1fr;
        .col-right {
            margin-top: 2.5rem;
        }
    }
}

/* Placeholder Image */
.map-hero-placeholder {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow-lg);
    display: grid;
    .placeholder {
        position: relative;
        --border-width: 2px;
        --shimmer-dark: var(--color-surface-300);
        --shimmer-light: var(--color-surface-500);
        --placeholder-image-block-size: 35%;
        .placeholder-image {
            aspect-ratio: 16/9;


            .placeholder-block-left, .placeholder-block-right {
                width: var(--placeholder-image-block-size);
            }

            .placeholder-block-top {
                height: calc(var(--placeholder-image-block-size) * .7); /*tbh i would've expected it to be * 9/16 but for some reason it doesnt work for all values*/
            }
            .placeholder-block-left {
                /* subtract the placeholder-info height*/
                height: calc(100% - 4rem);
            }
        }
        .placeholder-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4rem;
            .placeholder-info-heading {
                position: relative;
                height: 3rem;
                .placeholder-block-top {height: 1rem}
                .placeholder-block-bottom {height: .5rem;}
                .placeholder-block-left {width: .5rem;}
                .placeholder-block-right {width: calc(100% - var(--placeholder-image-block-size) + .5rem);}
                .placeholder-block-bottom { bottom: 0;}
            }
            .placeholder-info-text {
                position: relative;
                height: 1rem;
                .placeholder-block-bottom {height: .5rem;}
                .placeholder-block-top {height: 2px;top: 0}
                .placeholder-block-left {width: .5rem;}
                .placeholder-block-right {width: calc(100% - var(--placeholder-image-block-size) + 2rem);}
            }
        }
    }
}

.map-details-placeholder {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow-lg);
    .placeholder {
        --border-width: 1px;
        --shimmer-dark: var(--color-surface-300);
        --shimmer-light: var(--color-surface-500);
    }
    .placeholder-heading {
        position: relative;
        /* top + bottom + line height of heading*/
        height: calc(.75rem + .5rem + .667rem);
        .placeholder-block-left, .placeholder-block-right {width: .5rem;}
        .placeholder-block-top {height: .75rem;}
        .placeholder-block-bottom { height: .5rem; bottom: 0!important;}
    }
    .placeholder-content {
        display: grid;
        .placeholder-line-1 {
            position: relative;
            height: calc(.25rem + .5rem);
            .placeholder-block-top {height: .25rem;}
            .placeholder-block-bottom {height: .25rem;}
            .placeholder-block-left {width: .5rem;}
            .placeholder-block-right {
                width: 10%!important;
            }
        }
        .placeholder-line-2 {
            position: relative;
            height: calc(.75rem + .5rem);
            .placeholder-block-left {width: .5rem;}
            .placeholder-block-top {height: .25rem;}
            .placeholder-block-bottom {height: .75rem;}
            .placeholder-block-right {
                width: 30%!important;
                top: 0!important;
            }
        }
    }
}

@media (min-width: 300px) {
    .map-details .inside .col-left .leaderboard .leaderboard-entry {
        align-items: center;
        grid-template-columns: 1ch 1fr auto auto;
    }
}