body:has(.user) {
    background: var(--color-surface-100) radial-gradient(circle at center 20rem, rgba(255, 255, 255, 8%), transparent 25rem) top center;
    background-repeat: no-repeat;
}
.user {
    min-height: calc(100vh - var(--header-height));
    .hero {
        padding-block-start: 2.5rem;
        min-height: 25vh;
        margin-block-end: 2rem;
        &>.inside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            .points-center-display {
                flex: 1;
                display: grid;
                justify-items: center;
                align-items: center;

                h1 {
                    font-size: 3rem;
                    line-height: 1.25;
                }

                .user-points {
                    font-weight: 700;
                    font-size: 4.5rem;
                    text-shadow: 0 0px 12vw var(--primary);
                    position: relative;
                    line-height: .7;

                    small {
                        font-size: 2rem;
                    }

                    margin-bottom: 1rem;
                }
            }
            .motw-info {
                position: relative;
                --bg-opacity: rgba(0, 0, 0, .2);
                background: linear-gradient( to right,
                    transparent 1%, var(--bg-opacity) 15%, var(--bg-opacity) 85%, transparent 99%
                );
                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    background: linear-gradient(to right,
                        transparent 0%, #5d3663 50%, transparent 100%
                    );
                }
                &::before {
                    inset: 0 0 auto 0;
                }
                &::after {
                    inset: auto 0 0 0;
                }
                h2 {
                    color: var(--color-primary-600);
                    font-size: .8rem;
                    text-align: center;
                    margin-bottom: .75rem;
                }
                h3 {
                    font-size: .5rem;
                    color: var(--color-primary-700);
                    text-align: center;
                }
                padding: .5rem;
                .motw-info-content {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    > * {
                        h3 {
                            font-style: italic;
                        }
                        > div {
                            text-align: center;
                            font-weight: 500;
                            font-size: 1rem;
                            .flame {
                                font-size: .75rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .map-placing {font-style: italic}
    .map-placing.map-pos-1 {
        color: var(--primary);
        font-weight: bold;
    }
    .map-placing.map-pos-2 {
        color: var(--color-primary-600);
        font-weight: 500;
    }
    .map-placing.map-pos-3 {
        color: var(--color-primary-700);
    }
}

@media (max-width: 500px) {
    .user .hero >.inside .points-center-display {
        .details-map-name {
            text-wrap: wrap;
            overflow-wrap: anywhere;
            /* it should  break mid word*/
            word-break: break-all;
            font-size: 2rem;
        }
        .user-points {
            font-size: 3rem;
        }
    }
}

@media (max-width: 400px) {
    .user .hero >.inside .points-center-display {
        .details-map-name {
            font-size: 1.5rem;
        }

        .user-points {
            font-size: 2rem;
        }
    }
}