@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



:root {
  --primary: #cc8dd4;
  --error: #e7195a;

  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #9c27b0;
  --color-primary-200: #a945b9;
  --color-primary-300: #b55ec2;
  --color-primary-400: #c176cb;
  --color-primary-500: #cc8dd4;
  --color-primary-600: #d7a4dd;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
}

body {
  background: var(--color-surface-100);
  margin: 0;
  font-family: "Poppins";
  color: white;
}

header {
  background: #fff;
  background: var(--color-surface-400)
}

nav {
  max-width: 1400px;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
}

header a {
  color: #ffffff;
  text-decoration: none;
  
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5%;
}

.leaderboards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.leaderboard-details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.details-map-name{
  margin: 0 0 10px 0;
  font-size: 5em;
  color: var(--primary);
}

.leaderboard-entry {
  background: var(--color-surface-200);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.leaderboard-entry td {
  margin: 0;
  font-size: 1.1em;
  color: white;
  margin: 10px 10px;
  display: inline-block;
  width: 10%;
}

.leaderboard-preview-link {
  text-decoration: none;
}

.leaderboard-preview {
  border-radius: 4px;
  margin: 10px 20px 10px 0px;
  padding: 10px 10px;
  position: relative;
  width: 90%;
  height: 88%;
  border-radius: 10px;
}

.leaderboard-preview h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.leaderboard-preview p {
  margin: 0;
  font-size: 0.9em;
  color: white;
  width: auto;
}

.leaderboard-preview img {
  object-fit: cover;
  width: 100%;
  height: 140px;
  border-radius: 10px;
}

label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--color-surface-200);
  color: white;
}

form button {
  background: var(--primary);
  border: 0;
  color: var(--color-surface-100);;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: var(--color-surface-200);
  border-radius: 4px;
}

.logout-button, .login-button {
  background: var(--color-surface-300);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  margin: 0 10px;
}

.signup-button {
  background: var(--primary);
  border: 0;
  color: var(--color-surface-100);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  margin: 0 10px;
}

.discord-button {
  background: #7289da;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  display: inline-block;
  margin: 0 10px;
}

.discord-icon {
  height: 12px; 
  padding: 0px 10px;
}

.page-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-button-container button{
  background: var(--primary);
  border: 0;
  color: var(--color-surface-100);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  margin: 10px 10px;
}