.teaser {
    position: relative;
    .pogo-char {
        position: absolute;

        z-index: -1;

        animation: scroll-pogo linear;
        animation-timeline: scroll()!important;
        .slide-in {
            animation: slide-in 3s cubic-bezier(0.58, 1.06, 0.67, 0.97);
        }
    }
    .junker {
        --scroll-amnt: 500px;
        top: 30%;
        left: 25%;
        width: 150px;
        filter: brightness(.25) drop-shadow(2px 2px 4px rgba(0, 0, 0, .8));
        --direction: -1;
    }
    .cheeb {
        top: 15%;
        right: 10%;
        width: 10rem;
        filter: brightness(.3) drop-shadow(3px 3px 12px rgba(0, 0, 0, .75));
        --scroll-amnt: 800px;
        --direction: 1;
    }
}

@keyframes scroll-pogo {
    to {
        transform: translateY(var(--scroll-amnt));
    }
}

@media (max-width: 500px) {
    .teaser .junker {
        left: 5%;
    }

}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(calc(200px * var(--direction)));
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translateX(0%);
    }
}