body:has(.teaser) {
 background: var(--color-surface-100) radial-gradient(circle at center 20rem, rgba(255, 255, 255, 8%), transparent 25rem) top center;
}
.teaser {
    margin-inline: auto;
    margin-block-start: 0!important;
    text-align: center;
    min-height: calc(100dvh);
    display: grid;
    align-items: start;
    padding-block-start: 5rem;

    .inside {
        display: grid;
        max-width: 1000px;
        width: 100%;
        min-width: 0;
        --input-padding-block: .5rem;

        .teaser-text {
            font-size: .8rem;
            margin-block-end: 1.5rem;
        }
        .create-map {
            margin-block-start: .25rem;
            font-size: .5rem;
            color: var(--primary);
            cursor: pointer;
            justify-self: start;
            background-color: transparent;
            border: none;
            &:hover, &:focus-visible {
                text-decoration: underline;
            }
        }
        .map-of-the-week {
            margin-block: .5rem;
            display: flex;
            width: fit-content;
            margin-inline: auto;
            .icon-cnt,
            .card-link {
                display: grid;
                place-items: center;
                padding-inline: .75rem .75rem;
                .media-container {
                    max-height: 1.5rem;
                    aspect-ratio: 1;
                }
            }

            .card-link {
                transition: transform 0.15s ease;
                padding-inline-start: .8rem;
                .media-container {max-height: 1.25rem}
                svg {
                    aspect-ratio: 1;
                    width: 1rem;
                    height: auto;
                }
            }

            &:focus, &:hover {
                .card-link {
                    transform: translateX(2px);
                }
            }
        }
    }
}

@media (min-width: 400px) {
    .teaser {
        h1 .text-gradient {
            text-wrap: nowrap;
        }
    }
}
