body:has(.teaser) {
 background: var(--color-surface-100) radial-gradient(circle at center 20rem, rgba(255, 255, 255, 8%), transparent 25rem) top center;
 scrollbar-gutter: stable;
}
.teaser {
    margin-inline: auto;
    text-align: center;
    min-height: calc(100dvh);
    display: grid;
    align-items: start;
    padding-block-start: 5rem;

    .inside {
        display: grid;
        max-width: 1000px;
        width: 100%;
        min-width: 0;
        h1 .text-gradient {
            text-wrap: nowrap;
        }
        --input-padding-block: .5rem;
        .search-bar {
            background-color: var(--color-surface-300);
            padding-inline: 0 .5rem;
            border-radius: var(--border-radius);
            box-shadow: var(--shadow-lg);
            cursor: text;
            &:has(input:focus) {
                box-shadow: var(--focus-box-shadow);
                outline: var(--focus-outline);
            }

        .input-with-icon-cnt {
            padding-inline-start: .9rem;
            display: flex;
            align-items: center;
            .media-container {
                height: 1rem;
                aspect-ratio: 1;
                svg {
                    height: 100%;
                }
            }
            input {
                background-color: transparent;
                border: none;
                font-size: 1rem;
                width: 100%;
                padding-block: var(--input-padding-block);

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        }
        .teaser-text {
            font-size: .8rem;
            margin-block-end: 1.5rem;
        }
        .create-map {
            margin-block-start: .25rem;
            font-size: .5rem;
            color: var(--primary);
            cursor: pointer;
            justify-self: start;
            background-color: transparent;
            border: none;
            &:hover, &:focus-visible {
                text-decoration: underline;
            }
        }
        .map-of-the-week {
            margin-block: .5rem;
            display: flex;
            width: fit-content;
            margin-inline: auto;
            .icon-cnt,
            .card-link {
                display: grid;
                place-items: center;
                padding-inline: .75rem;
            }

            .card-link {
                transition: transform 0.15s ease;
                svg {
                    aspect-ratio: 1;
                    width: 1rem;
                    height: auto;
                }
            }

            &:focus, &:hover {
                .card-link {
                    transform: translateX(2px);
                }
            }
        }
    }
}

.teaser .search-bar-with-placeholder-wrapper {
    display: grid;
    grid-template-areas: "stack";

    .search-bar,.search-bar-placeholder {
        grid-area: stack;
    }
    .search-bar {
        transition-duration: 1s;
        transition-timing-function: ease-in;
        transition-property: opacity, height;
        overflow: hidden;
        &.maps-not-initialized {
            opacity: 0;
            height: 0;
            pointer-events: none;
            z-index: -1;
        }

        .search-results {
            transition: .75s ease;
        }

        &:not(.focused) .search-results {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            margin-top: var(--search-result-height); /*js css var set in Home.js*/
        }

        .maps {
            display: grid;
            grid-template-columns: auto 1fr 1fr;
            justify-items: start;
            align-items: center;
            gap: .5rem;
            padding-block-end: var(--input-padding-block);

            .result-map {
                display: contents;
                gap: 1rem;

                .media-container {
                    aspect-ratio: 16/9;
                    max-height: 3rem;
                    background-color: var(--color-surface-100);
                    border-radius: var(--border-radius);
                    overflow: hidden;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .search-bar-placeholder {
        transition-property: opacity, visibility;
        transition-duration: 1s;
        transition-timing-function: ease;
        &:not(.maps-not-initialized) {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-lg);
        min-height: var(--search-input-height);
        position: relative;
        background: linear-gradient(90deg, var(--color-surface-700), var(--color-surface-400) 50% 75%, var(--color-surface-700));
        background-repeat: repeat;
        background-size: 200%;
        animation: search-placeholder-pulse 1.5s ease-in infinite;
        display: flex;
        overflow: hidden;
        .block {
            position: absolute;
            background-color: var(--color-surface-200);
            /* the 2px are a fake-semi working border :) */
            &.block-left,&.block-right {top: 2px; bottom: 2px;}
            &.block-left { left: 2px;}
            &.block-right { right: 2px;}
            &.block-top,&.block-bottom { left: 2px; right: 2px; height: .5rem}
            &.block-top { top: 2px;}
            &.block-bottom { bottom: 2px;}
        }
        .placeholder-icon {
            position: relative;
            height: 100%;
            aspect-ratio: 1;
            .block-left {width: .75rem}
            .block-right {width: .25rem; right: 0}
        }
        .placeholder-search {
            position: relative;
            flex-grow: 1;
            height: 100%;
            .block-top, .block-bottom {
                height: .6667rem;
            }
            .block-right {
                width: 1.5rem;
            }
            .block-left {
                width: .5rem; left: 0;
            }
        }

    }
}

@keyframes search-placeholder-pulse {
    from {
        background-position: 100% 0;

    }
    to {
        background-position: -100% 0;
    }
}